*.DS_Store
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Email spool folder
/var/spool/*

# Cache, session files and logs (Symfony3)
/var/sessions/*
!var/sessions/.gitkeep

# Parameters
/app/config/database.php

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

.idea
vendor/
node_modules/
npm-debug.log

.env
composer.phar

